{% if posts is defined %}
	{% for post in posts %}
		<div class="content post" id="post-{{ post.id }}">
			<a name="{{ post.id }}"></a>
			<div class="clearfix">
				<div class="post-author">
					<div class="avatar big">
						<img width="70" height="70" src="/{{ config('board', 'base') }}avatars/{{ post.username }}/big.png" alt="" />
					</div>
					<p class="truncate w80">
						<a href="/{{ config('board', 'base') }}user/{{ post.username }}" class="user-link resize">
							{{ post.username }}
						</a>
					</p>
					<p title="Group" class="group">
						<em class="fa fa-group"></em > {{ post.group }}
					</p>
					<p title="Posts" class="post-count">
						<em class="fa fa-pencil"></em > {{ post.userPosts }}
					</p>
				</div>
				<div class="post-body">
					<div class="post-info">
						<div class="clearfix">
							<div class="pull-left">
								<span class="date" title="{{ post.added|date('c') }}">{{ post.added|date('jS M y, H:i') }}</span> - <a href="/{{ config('board', 'base') }}" class="topic-name">{{ post.name }}</a>
							</div>
							<div class="pull-right post-tools">
								{% if user and post.poster == user.id or hasPermission('EDIT_POSTS') %}
									<a data-postId="{{ post.id }}" href="javascript:void(0)" data-event="click" data-action="editPost">
										<em class="fa fa-pencil"></em >
									</a>
								{% endif %}
								{% if user %}
									<a href="javascript:void(0)" data-event="click" data-action="reportPostTrigger" data-postId="{{ post.id }}">
										<em class="fa fa-exclamation-triangle"></em >
									</a>
									<a href="javascript:void(0)" data-event="click" data-action="likePost" data-postId="{{ post.id }}">
										<em class="fa fa-thumbs-up"></em >
									</a>
								{% endif %}

								{% if user %}
									<a href="javascript:void(0)" data-event="click" data-action="quotePost" data-postId="{{ post.id }}" data-author="{{ post.username }}">
										<em title="Quote" data-toggle="tooltip" class="fa fa-comment"></em >
									</a>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="post-content">
						{{ post.content|raw }}
					</div>
					<div class="post-extras clearfix">
						{% if post.edits > 0 %}
							<div class="edit-count pull-left">
								Edited {{ post.edits }} times
							</div>
						{% endif %}
						{{ include ('Partials/postLikes.twig') }}
					</div>
					{% if post.attachments is defined %}
						<div class="post-attachments">
							<h5>Attachments</h5>
							{% for attachment in post.attachments %}
								
								{% set isImage = false %}
								{% if attachment.extension in ["png","jpg","jpeg","bmp","gif"] %}
									{% set isImage = true %}
								{% endif %}

								<div class="post-attachment {% if isImage %}inline{% endif %}">

									{% if isImage %}
										<img data-title="{{ attachment.name }} - Uploaded on {{ attachment.added|date('jS M y, H:i') }}" src="/{{ config('board', 'base') }}uploads/attachments/{{ attachment.file_name }}" alt="{{ attachment.name }}" title="{{ attachment.name }}" />
									{% else %}
										<a href="/{{ config('board', 'base') }}uploads/attachments/{{ attachment.file_name }}" target="_blank">
											{{ attachment.name }}
										</a>
									{% endif %}

								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<p id="no-posts">
		No more posts
	</p>
{% endif %}

<div class="modal fade" id="image-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img src="" alt="" title="" />
				<div id="image-attachment-title"></div>
			</div>
		</div>
	</div>
</div>
