{% for comment in comments %}
	<li class="row profile-comment-{{ comment.id }}">

		<div class="col-md-3">
			<div class="comment-author-info">
				<div class="avatar big text-center">
					<img width="70" height="70" src="/avatars/cjmarkham/big.png" alt="" />
				</div>
				<p>
					<em class="fa fa-thumbs-up"></em> 
					<span class="profile-comment-likes" data-comment="{{ comment.id }}">{% if comment.likes is defined %}{{ comment.likes|length }}{% else %}0{% endif %}</span>
				</p>
			</div>
		</div>

		<div class="col-md-9">
			<div class="profile-comment">
				<div class="clearfix">
					<div class="pull-left">
						<span class="blue">{{ comment.username }} </span>
						<span>
							{{ comment.added|date("jS M y, H:i") }}
						</span>
					</div>
					<div class="pull-right text-right profile-comment-options">
						{% if user.id is defined and user.id != profile.id %}
							<em class="fa fa-thumbs-up" title="Like comment" data-event="click" data-action="profile.likeComment" data-commentId="{{ comment.id }}"></em>
						{% endif %}

						{% if user.id is defined and user.id == profile.id or hasPermission('EDIT_POSTS') %}
							<em data-event="click" data-action="profile.deleteComment" data-commentId="{{ comment.id }}" class="fa fa-times"></em>
						{% endif %}
					</div>
				</div>
				<p>
					{{ comment.comment }}
				</p>
			</div>
		</div>

	</li>
{% endfor %}