<div class="row topic {% if topic.sticky %}sticky{% endif %}" id="topic-{{ topic.id }}">
	<div class="col-sm-5">
		<a href="/{{ config('board', 'base') }}{{ forum.name|toUrl }}/{{ topic.name|toUrl }}-{{ topic.id }}/" class="topic-name preview">
			{{ truncate(topic.name, 40) }}
		</a>

		<div class="topic-info">
			{% if topic.locked %}
				<em title="Locked" data-toggle="tooltip" class="fa fa-lock"></em >
			{% endif %}

			{% if topic.sticky %}
				<em title="Sticky" data-toggle="tooltip" class="fa fa-thumb-tack"></em >
			{% endif %}
		</div>

		<p class="topic-author">
			<a href="/{{ config('board', 'base') }}user/{{ topic.author }}" class="user-link">
				{{ topic.author }}
			</a>
		</p>
		<span class="date" title="{{ 'now'|date('c') }}">
			{{ 'now'|toDate }}
		</span>
	</div>
	<div class="col-sm-3">
		<p title="Views" data-toggle="tooltip" class="views"><em class="fa fa-eye"></em > 0</p>
		<p title="Replies" data-toggle="tooltip" class="replies"><em class="fa fa-pencil"></em > 0<p>
	</div>
	<div class="text-right col-sm-4">
		<p>
			<a href="/{{ config('board', 'base') }}" class="topic-name">
				{{ topic.name }}
			</a>
		</p>
		<p>	
			<a href="/{{ config('board', 'base') }}user/{{ topic.author }}" class="user-link">
				{{ topic.author }}
			</a>
		</p>
		<span class="date" title="{{ topic.updated|date('c') }}">
			{{ "now"|toDate }}
		</span>
	</div>
</div>