<div class="clearfix hidden-no-user">
	<a class="pull-right avatar small background" href="{{ path('user-profile', {username: user.username}) }}">
		<img width="55" height="55" src="{{ avatar_root }}/{{ user.username }}/small.png" alt="{{ user.username }}" title="{{ user.username }}" />
	</a>
	<div class="pull-right quick-links">
		<a href="javascript:void(0)">
			<em data-toggle="tooltip" title="Notifications" class="fa fa-envelope"></em>
		</a>
		<a href="{{ path('user-settings') }}">
			<em data-toggle="tooltip" title="Settings" class="fa fa-cogs"></em>
		</a>
	</div>
</div>