<div class="clearfix hidden-no-user">
	<a class="pull-right avatar small background" href="{{ path('user-profile', {username: user.username}) }}">
		<img width="55" height="55" src="{{ avatar_root }}/{{ user.username }}/small.png" alt="{{ user.username }}" title="{{ user.username }}" />
	</a>
	<div class="pull-right quick-links relative">
		<div class="dropdown inline">
			<a href="javascript:void(0)">
				<a href="javascript:void(0)" data-toggle="dropdown" title="Notifications" class="fa fa-envelope"></a>
			</a>
			<a href="{{ path('user-settings') }}">
				<em data-toggle="tooltip" title="Settings" class="fa fa-cogs"></em>
			</a>
			{% if user.notifications.unread|length %}
				<strong data-toggle="dropdown" data-target="#notifications" id="new-notifications">
					{{ user.notifications.unread|length }}
				</strong>
			
				<div id="notifications" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<ul class="list-unstyled">
						{% for notification in user.notifications.unread %}	
							<li>
								{{ notification.notification|raw }}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
</div>