{% extends "Layout/main.twig" %}

{% block content %}
	
	<section id="posts">
		{% for post in posts %}
			<section class="post">
				{% if loop.first %}
					<header class="clearfix">
						<div class="pull-left">
							{{ post.name }}
						</div>
						<div class="pull-right text-right">
							<span>
								<i class="fa fa-eye"></i> {{ topic.views }}
							</span>
							<span>
								<i class="fa fa-pencil"></i> {{ topic.replies }}
							</span>
						</div>
					</header>
				{% endif %}

				<div class="content">
					<div class="row post">
						<div class="col-md-2">
							<div class="avatar big">
								<img width="70" height="70" src="/avatars/{{ post.username }}/big.png" alt="" />
							</div>
							<p class="truncate w80">
								<a href="user/{{ post.username }}" class="user-link resize">
									123456789
								</a>
							</p>
							<p title="Group" class="group">
								<i class="fa fa-group"></i> Admin
							</p>
							<p title="Posts" class="post-count">
								<i class="fa fa-pencil"></i> 200
							</p>
						</div>
						<div class="col-md-10">
							<div class="post-info">
								<date class="date">{{ post.added|date('jS M y, H:i') }}</date> - <a href="" class="topic-name">{{ post.name }}</a>
							</div>
							<div class="post-content">
								{{ post.content }}
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endfor %}
	</section>

{% endblock %}