{% extends "Layout/main.twig" %}

{% block scripts %}
	{{ parent() }}

	<script src="/ckeditor/ckeditor.js"></script>

	<script>
	$(function () {
		$.post('/topic/update_views', {
			id: '{{ topic.id }}',
		});
	});
	</script>
	
{% endblock %}

{% block crumbs %}
	{{ parent() }}
	<li class="next">&gt;</li>
	<li>
		<a href="/{{ forum.name|url_encode }}-{{ forum.id }}">
			{{ forum.name }}
		</a>
	</li>	
	<li class="next">&gt;</li>
	

	{% if pagination.pages.current > 1 %}
		<li>
			<a href="/{{ forum.name|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}/1">
				{{ topic.name }}
			</a>
		</li>	
		<li class="next">&gt;</li>
		<li>
			<a href="">
				Page {{ pagination.pages.current }}
			</a>
		</li>

	{% else %}
		<li>
			<a href="">
				{{ topic.name }}
			</a>
		</li>	
	{% endif %}
{% endblock %}

{% block content %}
	
	<section id="posts">
		{% for post in posts %}
			
			<section class="post" id="post-{{ post.id }}">
				{% if loop.first %}
					<header class="clearfix">
						<div class="pull-left">
							{{ post.name }}
						</div>
						<div class="pull-right text-right">
							<span data-toggle="tooltip" title="Views">
								<i class="fa fa-eye"></i> {{ topic.views }}
							</span>
							<span data-toggle="tooltip" title="Replies">
								<i class="fa fa-pencil"></i> {{ topic.replies }}
							</span>
						</div>
					</header>
				{% endif %}

				{% include('Partials/post.twig') %}

			</section>

		{% endfor %}
	</section>

	<div class="post-buttons clearfix">
		<div class="pull-left">
			{% if topic.locked %}
				<button class="btn btn-danger">
					Locked
				</button>	
			{% else %}
				{% if user %}
					<button class="btn btn-orange" data-event="click" data-action="showQuickReply">
						Add Reply
					</button>
				{% else %}
					<button class="btn btn-info">
						Login to reply
					</button>
				{% endif %}
			{% endif %}
		</div>

		{% if pagination %}

			{% include('Partials/pagination.twig') with {
				prefix: forum.name|url_encode ~ '/' ~ topic.name|url_encode ~ '-' ~ topic.id ~ '/',
				suffix: ''
			} %}

		{% endif %}
	</div>


{% endblock %}

{% block modals %}
	{{ parent() }}

	<div class="modal fade" id="post-report-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Report a post</h4>
				</div>
				<div class="modal-body">
					<p>Please choose a reason for reporting this post.</p>
					<form method="post" action="javascript:void(0)" data-event="submit" data-action="reportPost">
						<input type="hidden" name="postId" value="" />

						<select required class="form-control" name="reason">
							<option value="" selected disabled>Please choose a reason</option>
							<option value="It's spam or a scam">It's spam or a scam</option>
							<option value="It's harassing me or someone else">It's harassing me or someone else</option>
							<option value="It contains copyright material">It contains copyright material</option>
						</select>
						<br />
						<button class="submit btn btn-orange">
							<span>Report</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="quick-reply-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Quick Reply</h4>
				</div>
				<div class="modal-body">
					<form method="post" action="javascript:void(0)" data-event="submit" data-action="addQuickReply">
						<input type="hidden" name="topicId" value="{{ topic.id }}" />
						<input type="text" name="name" class="form-control" value="RE: {{ topic.name }}" />
						<br />
						<textarea class="form-control" name="reply" id="reply" placeholder="Add your reply"></textarea>
						<br />
						<button class="btn btn-orange">
							Submit Quick Reply
						</button>
						<button data-event="click" data-action="hideQuickReply" class="btn btn-orange">
							Cancel
						</button>

						<script>
							CKEDITOR.replace('reply');
						</script>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}