{% extends "Layout/main.twig" %}

{% block content %}
	
	<section id="forums">
		{% for forum in forums %}
			<div class="parent-forum">
				<header>
					<h3>{{ forum.name }}</h3>
				</header>

				<div class="content">
					{% if forum.children is defined %}
						<div class="forums" aria-label="forums">
							{% for child in forum.children %}
								<div class="forum row" aria-label="forum">
										
									<div class="col-sm-8">
										<h4>
											<a class="forum-name" href="/{{ config('board', 'base') }}{{ child.name|toUrl }}-{{ child.id }}/">
												{{ child.name }}
											</a>
										</h4>
										<p class="forum-description">
											{{ child.description }}
										</p>
									</div>
									
									<div class="col-sm-4 text-right">
										<p>	
											{% if child.lastTopic.name %}
												<a href="/{{ config('board', 'base') }}{{ child.name|toUrl }}/{{ child.lastTopic.name|toUrl }}-{{ child.lastTopic.id }}/#{{ child.lastPost.id }}" class="topic-name">
													{{ child.lastTopic.name }}
												</a>
											{% else %}
												<a href="javascript:void(0)" class="topic-name">
													No topics
												</a>
											{% endif %}
										</p>
										<p>
											{% if child.lastTopic.name %}
												<a href="/{{ config('board', 'base') }}user/{{ child.lastPost.user.username }}" class="user-link">
													{{ child.lastPost.user.username }}
												</a>
											{% else %}
												<a href="javascript:void(0)" class="user-link">
													Be the first
												</a>
											{% endif %}
										</p>
										{% if child.lastTopic.name %}
											<p data-default="{{ child.updated|date('jS M y, H:i') }}" title="{{ child.updated|date('c') }}" class="date">
												{{ child.updated|toDate }}
											</p>
										{% endif %}
									</div>
								</div>
								{% if child.children is defined %}
									<div class="row">
										<div class="col-sm-12 subforum-list">
											Subforums: 
											{% for subchild in child.children %}
												<a href="/{{ config('board', 'base') }}{{ subchild.name|toUrl }}-{{ subchild.id }}">
													{{ subchild.name }}
												</a>
											{% endfor %}
										</div>
									</div>
								{% endif %}

								{% if not loop.last %}
									<div class="seperator"></div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}


	</section>

{% endblock %}