{% extends "Layout/main.twig" %}

{% block content %}
	
	<section id="forums">
		{% for forum in forums %}
			<div class="parent-forum">
				<header>
					{{ forum.name }}
				</header>

				<div class="content">
					{% if forum.children is defined %}
						<div class="forums">
							{% for child in forum.children %}
								<div class="forum row">
									<div class="forum-icon col-md-1">
										<i class="fa fa-comment"></i>
									</div>
									<div class="col-md-7">
										<a class="forum-name" href="/{{ child.name|url_encode }}-{{ child.id }}">
											{{ child.name }}
										</a>
										<p class="forum-description">
											{{ child.description }}
										</p>
									</div>
									<div class="col-md-4 text-right">
										<p>	
											{% if child.lastTopic.name %}
												<a href="/{{ child.name|url_encode }}/{{ child.lastTopic.name|url_encode }}-{{ child.lastTopic.id }}#{{ child.lastPost.id }}" class="topic-name">
													{{ child.lastTopic.name }}
												</a>
											{% else %}
												<a href="javascript:void(0)" class="topic-name">
													No topics
												</a>
											{% endif %}
										</p>
										<p>
											{% if child.lastTopic.name %}
												<a href="/user/{{ child.lastPost.user.username }}" class="user-link">
													{{ child.lastPost.user.username }}
												</a>
											{% else %}
												<a href="javascript:void(0)" class="user-link">
													Be the first
												</a>
											{% endif %}
										</p>
										{% if child.lastTopic.name %}
											<date title="{{ child.updated|date('c') }}" class="date">
												{{ child.updated|date('jS M y, H:i') }}
											</date>
										{% endif %}
									</div>
								</div>

								{% if not loop.last %}
									<div class="seperator"></div>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}


	</section>

{% endblock %}