{% extends "Layout/main.twig" %}

{% block content %}
	
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="javascript:void(0)" data-target="#forums" data-toggle="tab">
				Forums ( {{ data.forums|length }} )
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" data-target="#topics" data-toggle="tab">
				Topics ( {{ data.topics|length }} )
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="forums">

			<section id="forums">
				<header>
					Forum results matching "<em>{{ query }}</em>"
				</header>

				<div class="content">
					{% for child in data.forums %}
						<div class="forum row">
							<div class="forum-icon col-md-1">
								<i class="fa fa-comment"></i>
							</div>
							<div class="col-md-7">
								<a class="forum-name" href="/{{ child.name|url_encode }}-{{ child.id }}">
									{{ child.name }}
								</a>
								<p class="forum-description">
									{{ child.description }}
								</p>
							</div>
							<div class="col-md-4 text-right">
								<p>	
									{% if child.lastTopicName %}
										<a href="/{{ child.name|url_encode }}/{{ child.lastTopicName|url_encode }}-{{ child.lastTopicId }}#{{ child.lastPostId }}" class="topic-name">
											{{ child.lastTopicName }}
										</a>
									{% else %}
										<a href="javascript:void(0)" class="topic-name">
											No topics
										</a>
									{% endif %}
								</p>
								<p>
									{% if child.lastTopicName %}
										<a href="/user/{{ child.username }}" class="user-link">
											{{ child.username }}
										</a>
									{% else %}
										<a href="javascript:void(0)" class="user-link">
											Be the first
										</a>
									{% endif %}
								</p>
								{% if child.lastTopicName %}
									<span title="{{ child.updated|date('c') }}" class="date">
										{{ child.updated|date('jS M y, H:i') }}
									</span>
								{% endif %}
							</div>
							{% if child.children is defined %}
								<div class="col-md-offset-1"></div>
								<div class="col-md-11 subforum-list">
									Subforums: 
									{% for subchild in child.children %}
										<a href="/{{ subchild.name|url_encode }}-{{ subchild.id }}">
											{{ subchild.name }}
										</a>
									{% endfor %}
								</div>
							{% endif %}
						</div>

						{% if not loop.last %}
							<div class="seperator"></div>
						{% endif %}

					{% else %}
						<p class="alert alert-warning">
							No forums found matching "<em>{{ query }}</em>"
						</p>
					{% endfor %}
					
				</div>
			</section>

		</div>
		<div class="tab-pane" id="topics">

			<section id="topics">
				<header>
					Topic results matching "<em>{{ query }}</em>"
				</header>

				<div class="content">
					{% for topic in data.topics %}
						
						{% set forum = {id: topic.forum, name: topic.forumName} %}

						<div class="row topic {% if topic.sticky %}sticky{% endif %}" id="topic-{{ topic.id }}">
							<div class="col-md-5">
								<a href="/{{ forum.name|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}/1" class="topic-name preview">
									{{ truncate(topic.name, 40) }}
								</a>
								 in 
								<a href="/{{ forum.name|url_encode }}-{{ forum.id }}/1">
									{{ forum.name }}
								</a>

								<div class="topic-info">
									{% if topic.locked %}
										<i title="Locked" data-toggle="tooltip" class="fa fa-lock"></i>
									{% endif %}

									{% if topic.sticky %}
										<i title="Sticky" data-toggle="tooltip" class="fa fa-thumb-tack"></i>
									{% endif %}
								</div>

								<p class="topic-author">
									<a href="" class="user-link">
										{{ topic.author }}
									</a>
								</p>
								<span class="date" title="{{ topic.added|date('c') }}">
									{{ topic.added|date('jS M y, H:i') }}
								</span>
							</div>
							<div class="col-md-3">
								<p title="Views" data-toggle="tooltip" class="views"><i class="fa fa-eye"></i> {{ topic.views }}</p>
								<p title="Replies" data-toggle="tooltip" class="replies"><i class="fa fa-pencil"></i> {{ topic.replies }}<p>
							</div>
							<div class="text-right col-md-4">
								<p>
									{% if topic.lastPostName %}
										{% set page = (topic.replies / config('board', 'postsPerPage'))|round %}
										{% if page < 1 %}
											{% set page = 1 %}
										{% endif %}
										<a href="/{{ forum.name|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}/{{ page }}#{{ topic.lastPostId }}" class="topic-name">
											{{ topic.lastPostName }}
										</a>
									{% else %}
										<a href="" class="topic-name">
											{{ topic.name }}
										</a>
									{% endif %}
								</p>
								<p>	
									<a href="" class="user-link">
										{{ topic.lastPosterUsername }}
									</a>
								</p>
								<span class="date" title="{{ topic.updated|date('c') }}">
									{{ topic.updated|date('jS M y. H:i') }}
								</span>
							</div>
						</div>

						{% if not loop.last %}
							<div class="seperator"></div>
						{% endif %}

					{% else %}
						<p class="alert alert-warning">
							No topics found matching "<em>{{ query }}</em>"
						</p>
					{% endfor %}
				</div>
			</section>
		</div>
	</div>

{% endblock %}