<section class="box">
	<header>
		Recent Topics
	</header>
	<div class="content">
		<ul class="list-unstyled">
			{% for topic in recent_topics %}
				<li class="clearfix recent-topic">
					<div class="pull-left">
						<div class="avatar">
							<img width="149" height="198" src="/avatars/{{ topic.lastPost.user.username }}/small.png" alt="" />
						</div>
					</div>
					<div class="pull-left marginLeft30">
						<p class="topic-name">
							<a href="/{{ topic.forum.name|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}/1">
								{{ topic.name }}
							</a>
						</p>
						<p class="topic-info">
							<a href="/user/{{ topic.lastPost.user.username }}" class="user-link">
								{{ topic.lastPost.user.username }}
							</a>
							<date title="{{ topic.updated|date('c') }}" class="date">
								{{ topic.updated|date('jS M y, H:i') }}
							</date>
						</p>
					</div>
				</li>

				{% if not loop.last %}
					<li class="seperator"></li>
				{% endif %}
			{% else %}
				<li class="recent-topic">
					No Topics Yet
				</li>
			{% endfor %}
		</ul>		
	</div>
</section>