<!doctype html>
<head>

	{% block css %}
		<link rel="stylesheet" href="/{{ config('board', 'base') }}vendor/css/bootstrap.css" />
		<link rel="stylesheet" href="/{{ config('board', 'base') }}font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/{{ config('board', 'base') }}css/main.css" />
	{% endblock %}

	<title>{{ title }} - {{ config('board', 'name') }}</title>

	{{ include('Layout/meta.twig') }}

	{% block scripts %}

		{% if not app.debug %}
			{{ include('Partials/analytics.twig') }}
		{% endif %}
		
		<script src="/{{ config('board', 'base') }}vendor/js/jquery.js"></script>
		<script src="/{{ config('board', 'base') }}vendor/js/bootstrap.js"></script>
		<script src="/{{ config('board', 'base') }}vendor/js/timeago.js"></script>
		
		<script src="/{{ config('board', 'base') }}js/asf.js"></script>
		<script src="/{{ config('board', 'base') }}js/dom.js"></script>

		{% if user %}
		<script>
			asf.user = JSON.parse('{{ user|json_encode|raw }}');
		</script>
		{% endif %}

		<script>
			asf.page = {
				url: location.href,
				section: '{{ section }}'
			};

			{% if section == 'forums' and forum is defined %} // home page also has section forums
				asf.forum = '{{ forum|json_encode|raw }}'
			{% endif %}

			asf.config = JSON.parse('{{ config|json_encode|raw }}');

			$(function () {

				$('#alert-tabs p').on('click', function () {
					$('#alert-tabs p').removeClass('active');
					$(this).addClass('active');
					var index = $(this).attr('data-index');
					$('#alert-box .alert').fadeOut();
					var target = $('#alert-box .alert').get(index);
					$(target).fadeIn();
				});	

			});

		</script>
	{% endblock %}
</head>

<body id="page-{{ section }}">

	{% if not app.debug and not app.local %}
		<a target="_blank" href="https://github.com/cjmarkham/asimpleforum">
			<img id="fork" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub" />
		</a>
	{% endif %}

	<div id="user-quick-access-fixed" class="hidden-no-user hidden-md hidden-lg pull-right">
		{% if user %}
			<a href="/{{ config('board', 'base') }}user/{{ user.username }}">
				{{ user.username }}
			</a>
				&bull;
			<a href="javascript:void(0)" data-user="{{ user.username }}" data-event="click" data-action="logout">
				Logout
			</a>
		{% endif %}
	</div>
	
	<header id="header">

		<div class="container">
			<div class="row">
				<div id="logo" class="col-sm-9">

					<h1>
						<a href="/{{ config('board', 'base') }}">
							<img width="318" height="52" src="/{{ config('board', 'base') }}images/{{ config('board', 'logo') }}" alt="{{ config('board', 'name') }}" />
						</a>
					</h1>
					
				</div>
				<div id="quick-search" role="search" class="col-sm-3">
					<form role="form" name="search-form" method="post" action="javascript:void(0)" class="form-horizontal">
						<div class="form-group">
							<input type="text" name="query" class="typeahead form-control" autocomplete="off" placeholder="Quick search" />
							<button class="fa fa-search">&nbsp;</button>
							<select id="search-form-indicator" {% if section != 'forums' %}class="hide"{% endif %}>
								<option selected value="this">This forum</option>
								<option value="all">All forums</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container clearfix" id="main-nav" role="navigation">
			<ul class="list-unstyled list-inline pull-left">
				{% for link in nav_links %}
					<li {% if section == link.section %}class="active"{% endif %}>
						<h2>
							{% if link.link == '/' %}
								{% set url = '/' ~ config('board', 'base') %}
							{% else %}
								{% set url = '/' ~ config('board', 'base') ~ link.link %}
							{% endif %}
							<a href="{{ url }}">
								{{ link.title }}
							</a>
						</h2>	
					</li>
				{% endfor %}
			</ul>
			<div id="user-quick-access" class="hidden-no-user hidden-xs hidden-sm pull-right">
				{% if user %}
					<a href="/{{ config('board', 'base') }}user/{{ user.username }}">
						{{ user.username }}
					</a>
						&bull;
					<a href="javascript:void(0)" data-user="{{ user.username }}" data-event="click" data-action="logout">
						Logout
					</a>
				{% endif %}
			</div>
		</div>
	</header>

	<div id="message-block"></div>

	<div class="container" id="main">
		<nav id="breadcrumbs">
			<ul class="list-unstyled list-inline">
				<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/{{ config('board', 'base') }}" itemprop="url">
						<span itemprop="title">Home</span>
					</a>
				</li>
				{% block crumbs %}{% endblock %}
			</ul>
		</nav>

		<div class="row">

			{% set sidebars = config('sidebars') %}

			{% if sidebars[section] is defined and sidebars[section]|length %}
				<div class="col-md-3 hidden-xs hidden-sm">
					
					{% for key, array in sidebars if key == section %}
						{% if array|length %}
							{% for sidebar in array %}
								{{ include('Sidebars/' ~ sidebar ~ '.twig') }}
							{% endfor %}
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}

			{% if sidebars[section] is defined and sidebars[section]|length %}
				<div class="col-md-9">
			{% else %}
				<div id="main-full">
			{% endif %}

				{% if alerts|length %}
					<div id="alert-box" {% if alerts|length > 1 %}class="marginBottom30"{% endif %}>
						{% for alert in alerts %}
							<div class="alert {% if loop.index == 1 %}active{% endif %}">
								{% if alert.title %}
									<h3 class="alert-title">
										{{ alert.title }}
									</h3>
								{% endif %}
								<p>
									{{ alert.text }}
								</p>
							</div>
						{% endfor %}

						{% if alerts|length > 1 %}
							<div id="alert-tabs">
								{% for alert in alerts %}
									<p data-index="{{ loop.index - 1 }}" {% if loop.index == 1 %}class="active"{% endif %}>
										{{ loop.index }}
									</p>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endif %}

				{% block flash %}
					{% set alert = app.session.flashbag.get('alert') %}
					{% if alert.message is defined %}
						<p class="{% if user %}visible-user {% endif %}alert alert-{{ alert.type }}">
							{{ alert.message }}
						</p>
					{% endif %}
				{% endblock %}

				{% block content %}{% endblock %}

				<div id="sessions">
					Currently online: 
					<p class="inline" title="Users" data-toggle="tooltip"><em class="fa fa-group"></em > <span>{{ sessions.users }}</span></p>
					<p class="inline" title="Guests" data-toggle="tooltip"><em class="fa fa-user"></em > <span>{{ sessions.guests }}</span></p>
					
					<section id="onlineList">
						{% if sessions.online|length %}
							{{ include('Partials/onlineList.twig') }}
						{% endif %}
					</section>
				</div>
			</div>
		</div>

	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="text-right col-md-4">
					<p><small>Powered by &copy; {{ 'now'|date('Y') }} asimpleforum</small></p>
					<p><small>All content &copy; {{ config('board', 'name') }}</small></p>
				</div>
			</div>
		</div>
	</footer>

	{% block modals %}

		{% if user.id is not defined %}

			<div class="modal fade" id="login-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<form method="post" action="javascript:void(0)" data-event="submit" data-action="login">
								<div class="form-group">
									<label>
										Username
									</label>
									<input type="text" name="username" class="form-control" />
								</div>
								<div class="form-group">
									<label>
										Password
									</label>
									<input type="password" name="password" class="form-control" />
								</div>
								<button class="btn btn-orange">
									Login
								</button>
								<a href="/{{ config('board', 'base') }}signup" class="btn btn-orange">
									Signup
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>

		{% endif %}	

	{% endblock %}

</body>