<!doctype html>
<head>

	{% block css %}
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	{% endblock %}

	<title>{{ title }} - {{ config('board', 'name') }}</title>

	{{ include('Layout/meta.twig') }}

	{% block scripts %}
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/js/asf.js"></script>
		<script src="/js/timeago.js"></script>
		<script src="/js/dom.js"></script>

		{% if user %}
		<script>
			asf.user = JSON.parse('{{ user|json_encode|raw }}');

			asf.config = JSON.parse('{{ config|json_encode|raw }}');
		</script>
		{% endif %}
	{% endblock %}
</head>

<body>
	
	<header id="header">

		<div class="container" id="logo">
			<a href="/">
				<img src="/images/{{ config('board', 'logo') }}" alt="" />
			</a>
		</div>

		<nav class="container" id="main-nav">
			<ul class="list-unstyled list-inline">
				<li {% if section == 'forums' or section == 'index' %}class="active"{% endif %}>
					<a href="/">
						Forums
					</a>	
				</li>
				<li {% if section == 'members' %}class="active"{% endif %}>
					<a href="">
						Members
					</a>	
				</li>
				<li {% if section == 'search' %}class="active"{% endif %}>
					<a href="">
						Search
					</a>	
				</li>
				<li {% if section == 'new-topics' %}class="active"{% endif %}>
					<a href="">
						New Topics
					</a>	
				</li>
				<li {% if section == 'faqs' %}class="active"{% endif %}>
					<a href="">
						FAQs
					</a>	
				</li>
				<li {% if section == 'download' %}class="active"{% endif %}>
					<a href="">
						Download
					</a>	
				</li>
			</ul>
		</nav>
	</header>

	<div id="message-block"></div>

	<div class="container" id="main">
		<nav id="breadcrumbs">
			<ul class="list-unstyled list-inline">
				<li>
					<a href="/">
						Home
					</a>
				</li>
				{% block crumbs %}{% endblock %}
			</ul>
		</nav>

		<div class="row">

			{% set sidebars = config('sidebars') %}

			{% if sidebars[section] is defined and sidebars[section]|length %}
				<div class="col-md-3">
					
					{% for key, array in sidebars if key == section %}
						{% if array|length %}
							{% for sidebar in array %}
								{{ include('Partials/' ~ sidebar ~ '.twig') }}
							{% endfor %}
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}

			{% if sidebars[section] is defined and sidebars[section]|length %}
				<div class="col-md-9">
			{% else %}
				<div id="main-full">
			{% endif %}

				{% block flash %}
					{% set alert = app.session.flashbag.get('alert') %}
					{% if alert.message is defined %}
						<p class="{% if user %}visible-user {% endif %}alert alert-{{ alert.type }}">
							{{ alert.message }}
						</p>
					{% endif %}
				{% endblock %}

				{% block content %}{% endblock %}

				<div id="sessions">
					Currently online: 
					<p class="inline" title="Users" data-toggle="tooltip"><i class="fa fa-group"></i> <span>{{ sessions.users }}</span></p>
					<p class="inline" title="Guests" data-toggle="tooltip"><i class="fa fa-user"></i> <span>{{ sessions.guests }}</span></p>
					
					<section id="onlineList">
						{% if sessions.online|length %}
							{{ include('Partials/onlineList.twig') }}
						{% endif %}
					</section>
				</div>
			</div>

		</div>

	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="text-right col-md-4">
					<p>Powered by &copy; {{ 'now'|date('Y') }} asimpleforum</p>
					<p>All content &copy; {{ config('board', 'name') }}</p>
				</div>
			</div>
		</div>
	</footer>

	{% block modals %}{% endblock %}

</body>