<!doctype html>
<head>

	{% block css %}
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	{% endblock %}

	<title>{{ title }}</title>

	{{ include('Layout/meta.twig') }}

	{% block scripts %}
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/js/asf.js"></script>
		<script src="/js/timeago.js"></script>
		<script src="/js/dom.js"></script>
	{% endblock %}
</head>

<body>
	
	<header id="header">

		<div class="container" id="logo">
			<a href="/">
				<img src="/images/{{ config('board', 'logo') }}" alt="" />
			</a>
		</div>

		<nav class="container" id="main-nav">
			<ul class="list-unstyled list-inline">
				<li {% if section == 'forums' %}class="active"{% endif %}>
					<a href="/">
						Forums
					</a>	
				</li>
				<li {% if section == 'members' %}class="active"{% endif %}>
					<a href="">
						Members
					</a>	
				</li>
				<li {% if section == 'search' %}class="active"{% endif %}>
					<a href="">
						Search
					</a>	
				</li>
				<li {% if section == 'new-topics' %}class="active"{% endif %}>
					<a href="">
						New Topics
					</a>	
				</li>
				<li {% if section == 'faqs' %}class="active"{% endif %}>
					<a href="">
						FAQs
					</a>	
				</li>
				<li {% if section == 'download' %}class="active"{% endif %}>
					<a href="">
						Download
					</a>	
				</li>
			</ul>
		</nav>
	</header>

	<div id="message-block"></div>

	<div class="container" id="main">
		<nav id="breadcrumbs">
			<ul class="list-unstyled list-inline">
				<li>
					<a href="/">
						Home
					</a>
				</li>
				{% block crumbs %}{% endblock %}
			</ul>
		</nav>

		<div class="row">

			<div class="col-md-3">
				<section id="account-control" class="box">
					<header>
						Account Control
					</header>
					<div class="content">
						{% if user.id is not defined %}
							<form data-event="submit" data-action="login" method="post" action="javascript:void(0)">
								<div class="form-group">
									<label>Username</label>
									<input required type="text" class="form-control" name="username" placeholder="Username" />
								</div>
								<div class="form-group">
									<label>Password</label>
									<input required type="password" class="form-control" name="password" placeholder="Password" />
									<p class="help text-right">
										<a href="">
											Forgot password?
										</a>
									</p>
								</div>

								<div class="text-center">
									<button class="btn btn-orange">
										Login
									</button>

									<a class="btn btn-orange" href="/signup">
										Signup
									</a>
								</div>
							</form>

						{% else %}
							{{ include('Partials/userbox.twig') }}
						{% endif %}
					</div>
				</section>

				<section class="box">
					<header>
						Recent Topics
					</header>
					<div class="content">
						<ul class="list-unstyled">
							{% for topic in recent_topics %}
								<li class="clearfix recent-topic">
									<div class="pull-left">
										<div class="avatar">
											<img width="55" height="55" src="/avatars/{{ topic.lastPoster }}/small.png" alt="" />
										</div>
									</div>
									<div class="pull-left marginLeft30">
										<p class="topic-name">
											<a href="/{{ topic.forumName|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}">
												{{ truncate(topic.name, 10) }}
											</a>
										</p>
										<p class="topic-info">
											<a href="/user/{{ topic.lastPoster }}" class="user-link">
												{{ topic.lastPoster }}
											</a>
											<p>
												<date title="{{ topic.updated|date('c') }}" class="date">
													{{ topic.updated|date('jS M y, H:i') }}
												</date>
											</p>
										</p>
									</div>
								</li>

								{% if not loop.last %}
									<li class="seperator"></li>
								{% endif %}
							{% endfor %}
						</ul>		
					</div>
				</section>
			</div>

			<div class="col-md-9">

				{% block flash %}
					{% set alert = app.session.flashbag.get('alert') %}
					{% if alert.message is defined %}
						<p class="alert alert-{{ alert.type }}">
							{{ alert.message }}
						</p>
					{% endif %}
				{% endblock %}

				{% block content %}{% endblock %}

				<div id="sessions">
					Currently online: 
					<span title="Users" data-toggle="tooltip"><i class="fa fa-group"></i> {{ sessions.users }}</span>
					<span title="Guests" data-toggle="tooltip"><i class="fa fa-user"></i> {{ sessions.guests }}</span>
					
					{% if sessions.online|length %}
						<section>
							<header>
								Currently online users
							</header>

							<div class="content" id="users">
								{{ sessions.online|join(', ')|raw }}
							</div>
						</section>
					{% endif %}
				</div>
			</div>

		</div>

	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="text-right col-md-4">
					&copy; {{ 'now'|date('Y') }} asimpleforum
				</div>
			</div>
		</div>
	</footer>

	{% block modals %}{% endblock %}
	
</body>