<!doctype html>
<head>

	{% block css %}
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/css/main.css" />
	{% endblock %}

	<title>{{ title }} - {{ config('board', 'name') }}</title>

	{{ include('Layout/meta.twig') }}

	{% block scripts %}

		{% if not app.debug %}
			{{ include('Partials/analytics.twig') }}
		{% endif %}
		
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/asf.js"></script>
		<script src="/js/timeago.js"></script>
		<script src="/js/dom.js"></script>

		{% if user %}
		<script>
			asf.user = JSON.parse('{{ user|json_encode|raw }}');
		</script>
		{% endif %}

		<script>
			asf.page = {
				url: location.href,
				section: '{{ section }}'
			};

			{% if section == 'forums' %}
				asf.forum = '{{ forum|json_encode|raw }}'
			{% endif %}

			asf.config = JSON.parse('{{ config|json_encode|raw }}');

		</script>
	{% endblock %}
</head>

<body>

	{% if app.debug and not app.local %}
		<a target="_blank" href="https://github.com/cjmarkham/asimpleforum">
			<img id="fork" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub" />
		</a>
	{% endif %}
	
	<header id="header">

		<div class="container">
			<div class="row">
				<div id="logo" class="col-md-9">
					<a href="/">
						<img src="/images/{{ config('board', 'logo') }}" alt="" />
					</a>
				</div>
				<div id="quick-search" class="col-md-3">
					<form name="search-form" method="post" action="" class="form-horizontal">
						<div class="form-group">
							<input type="text" name="query" class="typeahead form-control" autocomplete="off" placeholder="Quick search" />
							<button class="fa fa-search">&nbsp;</button>
							<select id="search-form-indicator" {% if section != 'forums' %}class="hide"{% endif %}>
								<option selected value="this">This forum</option>
								<option value="all">All forums</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container clearfix" id="main-nav">
			<ul class="list-unstyled list-inline pull-left">
				{% for link in nav_links %}
					<li {% if section == link.section %}class="active"{% endif %}>
						<a href="{{ link.link }}">
							{{ link.title }}
						</a>	
					</li>
				{% endfor %}
			</ul>
			<div id="user-quick-access" class="hidden-no-user pull-right">
				{% if user %}
					<a href="/user/{{ user.username }}">
						{{ user.username }}
					</a>
						&bull;
					<a href="javascript:void(0)" data-user="{{ user.username }}" data-event="click" data-action="logout">
						Logout
					</a>
				{% endif %}
			</div>
		</div>
	</header>

	<div id="message-block"></div>

	<div class="container" id="main">
		<nav id="breadcrumbs">
			<ul class="list-unstyled list-inline">
				<li>
					<a href="/">
						Home
					</a>
				</li>
				{% block crumbs %}{% endblock %}
			</ul>
		</nav>

		<div class="row">

			{% set sidebars = config('sidebars') %}

			{% if sidebars[section] is defined and sidebars[section]|length %}
				<div class="col-md-3">
					
					{% for key, array in sidebars if key == section %}
						{% if array|length %}
							{% for sidebar in array %}
								{{ include('Partials/' ~ sidebar ~ '.twig') }}
							{% endfor %}
						{% endif %}
					{% endfor %}

				</div>
			{% endif %}

			{% if sidebars[section] is defined and sidebars[section]|length %}
				<div class="col-md-9">
			{% else %}
				<div id="main-full">
			{% endif %}

				{% block flash %}
					{% set alert = app.session.flashbag.get('alert') %}
					{% if alert.message is defined %}
						<p class="{% if user %}visible-user {% endif %}alert alert-{{ alert.type }}">
							{{ alert.message }}
						</p>
					{% endif %}
				{% endblock %}

				{% block content %}{% endblock %}

				<div id="sessions">
					Currently online: 
					<p class="inline" title="Users" data-toggle="tooltip"><i class="fa fa-group"></i> <span>{{ sessions.users }}</span></p>
					<p class="inline" title="Guests" data-toggle="tooltip"><i class="fa fa-user"></i> <span>{{ sessions.guests }}</span></p>
					
					<section id="onlineList">
						{% if sessions.online|length %}
							{{ include('Partials/onlineList.twig') }}
						{% endif %}
					</section>
				</div>
			</div>

		</div>

	</div>

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="text-right col-md-4">
					<p>Powered by &copy; {{ 'now'|date('Y') }} asimpleforum</p>
					<p>All content &copy; {{ config('board', 'name') }}</p>
				</div>
			</div>
		</div>
	</footer>

	{% block modals %}

		{% if user.id is not defined %}

			<div class="modal fade" id="login-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<form method="post" action="javascript:void(0)" data-event="submit" data-action="login">
								<div class="form-group">
									<label>
										Username
									</label>
									<input type="text" name="username" class="form-control" />
								</div>
								<div class="form-group">
									<label>
										Password
									</label>
									<input type="password" name="password" class="form-control" />
								</div>
								<button class="btn btn-orange">
									Login
								</button>
								<a href="/signup" class="btn btn-orange">
									Signup
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>

		{% endif %}	

	{% endblock %}

</body>