{% extends "Layout/main.twig" %}
	
{% block scripts %}
	{{ parent() }}

	<script src="/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block crumbs %}
	{{ parent() }}
	<li class="next">&gt;</li>
	<li>
		<a href="">
			{{ forum.name }}
		</a>
	</li>

	{% if pagination.pages.current > 1 %}
		<li class="next">&gt;</li>
		<li>
			<a href="">
				Page {{ pagination.pages.current }}
			</a>
		</li>
	{% endif %}
{% endblock %}

{% block content %}
	
	<section id="topics">
		<header>
			{{ forum.name }}
		</header>

		<div class="content">
			{% for topic in topics %}
				<div class="row topic {% if topic.sticky %}sticky{% endif %}" id="topic-{{ topic.id }}">
					<div class="col-md-5">
						<a href="/{{ forum.name|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}/1" class="topic-name preview">
							{{ truncate(topic.name, 40) }}
						</a>

						<div class="topic-info">
							{% if topic.locked %}
								<i title="Locked" data-toggle="tooltip" class="fa fa-lock"></i>
							{% endif %}

							{% if topic.sticky %}
								<i title="Sticky" data-toggle="tooltip" class="fa fa-thumb-tack"></i>
							{% endif %}
						</div>

						<p class="topic-author">
							<a href="" class="user-link">
								{{ topic.author }}
							</a>
						</p>
						<date class="date" title="{{ topic.added|date('c') }}">
							{{ topic.added|date('jS M y, H:i') }}
						</date>
					</div>
					<div class="col-md-3">
						<p title="Views" data-toggle="tooltip" class="views"><i class="fa fa-eye"></i> {{ topic.views }}</p>
						<p title="Replies" data-toggle="tooltip" class="replies"><i class="fa fa-pencil"></i> {{ topic.replies }}<p>
					</div>
					<div class="text-right col-md-4">
						<p>
							{% if topic.lastPostName %}
								{% set page = (topic.replies / config('board', 'posts_per_page'))|round %}
								{% if page < 1 %}
									{% set page = 1 %}
								{% endif %}
								<a href="/{{ forum.name|url_encode }}/{{ topic.name|url_encode }}-{{ topic.id }}/{{ page }}#{{ topic.lastPostId }}" class="topic-name">
									{{ topic.lastPostName }}
								</a>
							{% else %}
								<a href="" class="topic-name">
									{{ topic.name }}
								</a>
							{% endif %}
						</p>
						<p>	
							<a href="" class="user-link">
								{{ topic.lastPosterUsername }}
							</a>
						</p>
						<date class="date" title="{{ topic.updated|date('c') }}">
							{{ topic.updated|date('jS M y. H:i') }}
						</date>
					</div>
				</div>

				{% if not loop.last %}
					<div class="seperator"></div>
				{% endif %}

			{% else %}
				<div>
					<a href="javascript:void(0)" class="topc-name">
						No Topics yet
					</a>
				</div>

			{% endfor %}
		</div>
	</section>

	<div class="forum-options clearfix">
			{% if not forum.locked %}
				<button class="hidden-no-user btn btn-orange" data-event="click" data-action="newTopicTrigger">
					New topic
				</button>
				<button class="hidden-user btn btn-danger" data-toggle="modal" data-target="#login-modal">
					Login to create
				</button>
			{% else %}
				<button class="btn btn-danger">
					Locked
				</button>
			{% endif %}

		{% include('Partials/pagination.twig') with {
			prefix: forum.name|url_encode ~ '-' ~ forum.id ~ '/',
			suffix: ''
		} %}
	</div>
{% endblock %}

{% block modals %}
	{{ parent() }}
	<div class="modal fade" id="create-topic-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form method="post" action="javascript:void(0)" data-event="submit" data-action="addNewTopic">
						<input type="hidden" name="forumId" value="{{ forum.id }}" />
						<input type="text" name="name" class="form-control" placeholder="Topic title" />
						<br />
						<textarea class="form-control" name="post-content" id="post-content" placeholder="Add your post"></textarea>
						<br />
						<button class="btn btn-orange">
							Create topic
						</button>
						<a href="javascript:void(0)" data-event="click" data-action="hideModal" class="btn btn-orange">
							Cancel
						</a>

						<script>
							CKEDITOR.replace('post-content');
						</script>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}