{% extends "Layout/main.twig" %}
	
{% block scripts %}
	{{ parent() }}

	<script src="/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block crumbs %}
	{{ parent() }}
	<li class="next">&gt;</li>
	<li>
		<a href="">
			{{ forum.name }}
		</a>
	</li>

	{% if pagination.pages.current > 1 %}
		<li class="next">&gt;</li>
		<li>
			<a href="">
				Page {{ pagination.pages.current }}
			</a>
		</li>
	{% endif %}
{% endblock %}

{% block content %}
	
	<section id="topics">
		<header>
			{{ forum.name }}
		</header>

		<div class="content">
			{% for topic in topics %}
				
				{{ include ('Partials/topic.twig') }}

				{% if not loop.last %}
					<div class="seperator"></div>
				{% endif %}

			{% else %}
			<div>
				<a href="javascript:void(0)" class="topc-name">
					No Topics yet
				</a>
			</div>

			{% endfor %}
		</div>
	</section>

	<div class="forum-options clearfix">
		{% if not forum.locked or forum.locked and hasPermission('BYPASS_RESTRICTIONS') %}
			<button class="hidden-no-user btn btn-orange" data-event="click" data-action="newTopicTrigger">
				New topic
			</button>
			<button class="hidden-user btn btn-danger" data-toggle="modal" data-target="#login-modal">
				Login to create
			</button>
		{% else %}
			<button class="hidden-no-user btn btn-danger">
				Locked
			</button>
		{% endif %}

		{% include('Partials/pagination.twig') with {
			prefix: forum.name|url_encode ~ '-' ~ forum.id ~ '/',
			suffix: ''
		} %}
	</div>
{% endblock %}

{% block modals %}
	{{ parent() }}
	<div class="modal fade" id="create-topic-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form role="form" method="post" action="javascript:void(0)" data-event="submit" data-action="addNewTopic">
						<input type="hidden" name="forumId" value="{{ forum.id }}" />
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Topic title" />
						</div>
						<div class="form-group">
							<textarea class="form-control" name="post-content" id="post-content" placeholder="Add your post"></textarea>
						</div>
						
						{% if hasPermission('LOCK_TOPIC') %}
							<section>
								<h4>
									Moderator options
								</h4>
							
								<div class="checkbox">
									<label>
										<input type="checkbox" name="locked" value="1" />
										Locked
									</label>
									<p class="help help-inline">
										Only Administrators and Moderators can reply to a locked topic
									</p>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" name="sticky" value="1" />
										Sticky
									</label>
									<p class="help help-inline">
										Topic will appear at the top of the forums topic list
									</p>
								</div>
							</section>
						{% endif %}

						<button class="btn btn-orange">
							Create topic
						</button>
						<a href="javascript:void(0)" data-event="click" data-action="hideModal" class="btn btn-orange">
							Cancel
						</a>

						<script>
							CKEDITOR.replace('post-content');
						</script>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}